*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 90px;
    cursor: pointer;
}
.logopic {
    position: absolute;
    z-index: 0.5;
    margin-left: 40%;
    width: 400px;
    margin-top: -10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


.content {
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}                                                                                                                                                                                                                                                                                               

h3{
  text-align: center;
  color: #009688;
  margin: -20px 0 50px;
  font-size: 40px;
}

.content h1{
    color:#009688;
    font-size: 100px;
    margin-top: 80px;
}
.content h2{
    color:#802000;
    font-size: 50px;
}

.content p{
    color: white;
    margin: 20px auto;
}

.secondary {
  position:absolute;
  text-align: left;
  margin-left: 100px;
  margin-top: -35%;
}   

.secondary h1{
  color:#009688;
  font-size: 80px;
}

.secondary p{
    margin-top: 80px;
    font-family: Cambria;
    color: white;
    margin: 20px auto;
}

.pagepic{
    width: 300px;
    margin-right: -90%;
    margin-bottom: auto;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}


.container {
    max-width: 800px;
    width: 100%;
    margin-left: 20%;
    margin-top: -150px;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea,
  #contact button[type="submit"] {font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;}
  
  #contact {
    background: rgba(200, 200, 200, 0.2);
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h2 {
    color:#009688;
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #00cc99;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #004d39;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #555;
  }
  
  :-moz-placeholder {
    color: #555;
  }
  
  ::-moz-placeholder {
    color: #555;
  }
  
  :-ms-input-placeholder {
    color: #555;
  }

.gallery{
  margin: -25px 265px;
}

.gallery img{
  width: 150px;
  height: 190px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 0.5s;
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale (1.1);
}




